<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621689605324-3nchb3etloebr9shldm5j5pohjc60to1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621689605324-3nchb3etloebr9shldm5j5pohjc60to1</string>
	<key>API_KEY</key>
	<string>AIzaSyB_8NwX86bGrR-DAeh-nk8AvNZgI8Auffk</string>
	<key>GCM_SENDER_ID</key>
	<string>621689605324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.utas.Assignment3</string>
	<key>PROJECT_ID</key>
	<string>kit305-assignment2-445da</string>
	<key>STORAGE_BUCKET</key>
	<string>kit305-assignment2-445da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:621689605324:ios:631033c8b25393072d4669</string>
</dict>
</plist>
